html{font-size: 100px;}
body{
    padding:0;
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 237, 236, 0.2);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#app{
    width: 100vw;
    height: 100vh;
}
.hide, .waitHide{display: none ! important;}
header{
    width: 100%;
    position: absolute;
    top: 0rem;
    height: 0.30rem;
    text-align: center;
    font-size: 0.1rem;
    display:flex;
    display:-webkit-flex;
    line-height: 0.3rem;
    color: #0B2A60;
    opacity: 0;
}
.headLfet{
    flex:1;
    display: inline-block;
    text-align: left;
}
.headCenter{
    flex:3;
    display: inline-block;

}
.headRight{
    flex:1;
    display: inline-block;
    text-align: right;
}
.headLeftDes{
    width: 0.2rem;
    height: 0.2rem;
    line-height: 0.3rem;
    margin-left: 0.15rem;
    font-size: 0.15rem;
}
.headCenterDes{
    line-height: 0.3rem;
    font-size: 0.12rem;
}
.headRightDes{
    width: 0.2rem;
    height: 0.2rem;
    line-height: 0.3rem;
    margin-top: 0.05rem;
    margin-right: 0.15rem;
}
.mainContent{
    height: auto;
    width: 100%;
    overflow-y:auto;
    position: absolute;
    top: 0.30rem;
    bottom:0rem;
    font-size: 0.26rem;
}
.mainContent::-webkit-scrollbar {display:none}
.mainContent::-moz-scrollbar {display:none}
.mainContent::-ms-scrollbar {display:none}
.todayInfo{
    padding: 0rem 0.5rem 0.4rem;
    text-align: center;
    color: #0B2A60;
}
.todayInfoCity{
    font-size: 0.12rem;
    margin-bottom: 0.2rem;
}
.todayInfoWeatherType{
    font-size: 0.16rem;
    font-weight: 700;
    padding: 0.1rem 0rem 0rem;
}
.todayInfoWeatherTemperature{
    font-size: 1rem;
    display:flex;
    display:-webkit-flex;
    height: 1.1rem;
}
.todayInfoWeatherTemperatureLeft{
    flex:1;
    display: inline-block;
    text-align: right;
    visibility: hidden
}
.todayTemp{
    visibility: visible;
}
.todayInfoWeatherTemperatureCenter{
    flex:2;
    display: inline-block;
}
.todayInfoWeatherTemperatureRight{
    flex:1;
    display: inline-block;
    font-size: 0.7rem;
    text-align: left;
}
.todayInfoWeatherPMDiv{
    border: 0.02rem solid;
    border-radius: 0.2rem;
    height: 0.2rem;
    display: inline-block;
    margin-top: 0.1rem;
    background-color: transparent;
    outline: none;
}
.todayInfoWeatherPMDiv:active{
    background-color: #0B2A60;
    color: #FFF;
}
.todayInfoWeatherPMDiv:active .todayInfoWeatherPMImg{
    width: 0.16rem;
    height: 0.16rem;
    background: url(IMG/whitePM.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
    position: relative;
    top: -0.01rem;
}
.todayInfoWeatherPMImg{
    width: 0.16rem;
    height: 0.16rem;
    background: url(IMG/bluePM.png) no-repeat center;
    background-size: 100%;
    display: inline-block;
    position: relative;
    top: -0.008rem;
}
.todayInfoWeatherPMDes{
    font-size: 0.12rem;
    position: relative;
    top: -0.04rem;
    left: -0.05rem;
}
.weekInfo{
    margin: 0rem 0.15rem;
    border-top: 0.01rem solid #DDD;
    padding: 0.1rem 0rem;
}
.weekInfoRow{
    display:flex;
    display:-webkit-flex;
    font-size: 0.14rem;
    height: 0.2rem;
    line-height: 0.2rem;
    padding: 0.05rem;
}
.weekInfoRowLeft{
    flex:1;
    display: inline-block;
    text-align: left;
}
.weekInfoRowCenter{
    flex:1;
    display: inline-block;
    text-align: center;
}
.weekInfoRowCenterImg{
    width: 0.7rem;
}
.weekInfoRowRight{
    flex:1;
    display: inline-block;
    text-align: right;
}
.otherInfo{
    display: flex;
    display: -webkit-flex;
    height: 0.6rem;
    border-top: 0.01rem solid #f1f1f1;
    padding: 0.08rem 0rem;
    background-color: #f1f1f1;

}
.otherInfoCenter{
    flex:1;
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    padding: 0.1rem 0rem;
}
.otherInfoCenterTop{
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.1rem;
}
.otherInfoCenterTopImg{
    width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    font-size: 0.1rem;
}
.imgLeft{
    background-image: url(IMG/其他/风向.png);
    background-size: 100%;
}
.imgCenter{
    background-image: url(IMG/其他/水滴.png);
    background-size: 100%;
}
.imgRight{
    background-image: url(IMG/其他/温度计.png);
    background-size: 100%;
}
.otherInfoCenterTopName{
    font-size: 0.1rem;
    color: #8f8f8f;
    display: inline-block;
}
.otherInfoCenterBottom{
    height: 0.2rem;
    line-height: 0.2rem;
    font-size: 0.14rem;
}
.wait{
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
}
.show{
    display: block ! important;
}
.showFlex{
    display:flex ! important;
    display:-webkit-flex ! important;
}
.waitImg{
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.lifeInfo{
    background-color: #f1f1f1;
    padding: 0rem 0.02rem;
}
.lifeInfoBox{
    display:flex;
    display:-webkit-flex;
}
.lifeInfoBoxDes{
    flex: 1;
    display: inline-block;
    text-align: center;
    padding: 0.2rem;
    margin: 0.015rem;
    background-color: #FFF;
    height: 0.8rem;

}
.lifeInfoBoxDes:active{
    background-color: #eee;
}
.lifeInfoTopImg{
    width: 0.3rem;
    height: 0.3rem;
}
.lifeInfoCenter{
    font-size: 0.09rem;
    color: #888888;
}
.lifeInfoBottom{
    font-size: 0.16rem;
    font-weight: 700;
}
.modalBox{
    position: fixed;
    top: 45%;
    left: 50%;
    webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 70vw;
    height: auto;
    background-color: white;
    text-align: left;
    display: none;
    z-index: 100;
    padding: 0.15rem 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px #000 inset;
}
.modalAdvice{
    font-size: 0.15rem;
    font-family: 楷体;
    display: block;
}
.shade{
    width: 100vw;
    height:100vh;
    z-index: 99;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    background-color: #000;
    display: none;
}
.dim {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
}